h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
    color:#ffffff;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    margin-bottom: 5px;
    color:#ffffff;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    color:#ffffff;
    text-align: left;
}

.alignleft {
	float: left;
    padding-right: 20px;
    font-weight: medium;
}

.alignright {
	float: right;
}

.subtext {
    font-family: 16px;
    font-weight: light;
}

.image {
    width: 200px;
    height: 200px;
    padding-top: 30px;
}

body {
    background-color: #2A2A3D;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-left: 0px;
    overflow-y: hidden;
}

.services-description {
    font-size: 12px;
    padding-left: 20px;
    color:#b9b9b9;
    line-height: 12px;
    margin : 0px; 
    padding-top: 0px;
    padding-bottom: 10px;
}

.small-font-purple {
    font-size: 12px;
    padding-left: 20px;
    color:#b9b9b9;
    line-height: 12px;
    margin : 0px; 
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 2px solid rgb(182, 63, 13);
    border-bottom: 1px solid rgb(70, 70, 70);
    border-top: 1px solid rgb(70, 70, 70);
}

.small-font-blue {
    font-size: 12px;
    padding-left: 20px;
    color:#b9b9b9;
    line-height: 12px;
    margin-top: 10px; 
    padding-top: 15px;
    border-left: 3px solid rgb(33, 36, 99);
}

.small-font {
    font-size: 12px;
    padding-left: 10px;
    color:#b9b9b9;
    line-height: 12px;
    margin : 0px; 
    padding-top: 0px;
    padding-bottom: 73px;
}

.big-font {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 20px 0px 10px;
    letter-spacing: 0;
}

.huge-font {
    font-size: 28px;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 20px;
    margin: 20px 0px 10px;
    text-align: left;
}

.footer {
    font-size: 12px;
    padding-left: 20px;
    color:#b9b9b9;
    text-align: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px; /* Set the width of the sidebar */
}

.grid-container {
    display: grid; /* May want a mobile version that is a different display that's flexible, responsive */
    grid-template-columns: 200px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    background-color: none;
    margin-left: 0px;
    padding-right: 40px;
    overflow-x:auto;
    overflow-y:auto;
}

.grid-item {
    color:#f2f2f2;
    border: 0.5px solid rgb(99, 99, 99);
    padding: 10px 10px 5px 10px;
    font-size: 12px;
    font-weight: medium;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.pink {
    color:#ffffff;
    background-color: rgb(157, 2, 121);
    border-top: 0.5px solid rgb(99, 99, 99);
    border-bottom: 0.5px solid rgb(99, 99, 99);
    padding: 20px;
    font-size: 12px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pink:hover {
    color:#ffffff;
    background-color: rgb(216, 0, 166);
    cursor: pointer;
    border-top: 0.5px solid rgb(99, 99, 99);
    border-bottom: 0.5px solid rgb(99, 99, 99);
    padding: 20px;
    font-size: 12px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.purple {
    color:#ffffff;
    background-color: rgb(182, 63, 13);
    border-top: 0.5px solid rgb(99, 99, 99);
    border-bottom: 0.5px solid rgb(99, 99, 99);
    padding: 20px;
    font-size: 12px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.purple:hover {
    color:#ffffff;
    background-color: rgb(240, 89, 25);
    border-top: 0.5px solid rgb(99, 99, 99);
    border-bottom: 0.5px solid rgb(99, 99, 99);
    padding: 20px;
    font-size: 12px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blue {
    color:#ffffff;
    background-color: rgb(33, 36, 99);
    border-top: 0.5px solid rgb(99, 99, 99);
    border-bottom: 0.5px solid rgb(99, 99, 99);
    padding: 20px;
    font-size: 12px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blue:hover {
    color:#ffffff;
    background-color: rgb(52, 57, 158);
    border-top: 0.5px solid rgb(99, 99, 99);
    border-bottom: 0.5px solid rgb(99, 99, 99);
    font-size: 12px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-item-filled-record {
    color:#f2f2f2;
    background-color: rgb(208, 208, 208);
    border: none;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Tooltip on Hover */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    height: auto;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    height: auto;
    top: 110%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    background-color: rgb(23, 23, 39);;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 20px 10px 10px 10px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

/* Define the styles for the even rows */
.row-even {
    background-color: #f2f2f2;
}

