@import url('https://fonts.cdnfonts.com/css/open-sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
    color:#ffffff;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    margin-bottom: 5px;
    color:#ffffff;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    color:#ffffff;
    text-align: left;
}

.alignleft {
	float: left;
    padding-right: 20px;
    font-weight: medium;
}

.alignright {
	float: right;
}

.subtext {
    font-family: 16px;
    font-weight: light;
}

.image {
    width: 200px;
    height: 200px;
    padding-top: 30px;
}

body {
    background-color: #ECF7F8;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.services-description {
    font-size: 12px;
    padding-left: 20px;
    color:#b9b9b9;
    line-height: 12px;
    margin : 0px; 
    padding-top: 0px;
    padding-bottom: 10px;
}


.small-font {
    font-size: 12px;
    padding-left: 10px;
    color: #5B5756;
    line-height: 14px;
    margin : 0px; 
    padding-top: 0px;
    padding-bottom: 73px;
}

.big-font {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 10px 0px 10px;
    letter-spacing: 1.5px;
    color: #1D1B1A;
    text-transform: uppercase;
}

.footer {
    font-size: 12px;
    padding-left: 20px;
    color:#b9b9b9;
    text-align: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px; /* Set the width of the sidebar */
}

.grid-container {
    display: grid; /* May want a mobile version that is a different display that's flexible, responsive */
    grid-template-columns: 200px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    background-color: none;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    overflow-y: scroll;
}

.grid-item {
    color:#1D1B1A;
    border: 0.5px solid #D0EBED;
    padding: 10px 10px 5px 10px;
    font-size: 12px;
    font-weight: medium;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    position: sticky; 
    z-index: 1001; 
}

.pf {
    color:#ffffff;
    background-color: #315475;
    border-top: 0.5px solid rgb(99, 99, 99);
    border-bottom: 0.5px solid rgb(99, 99, 99);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.pf:hover {
    background-color: #316ca4;
}

.cl {
    color:#ffffff;
    background-color: #437377;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.cl:hover {
    background-color: #62a8ae;
}


.ha {
    color:#ffffff;
    background-color: #5A8B8E;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.ha:hover {
    background-color: #70aeb2;
}

.dnt {
    color:#f7f7f7;
    background-color: #5A8B8E;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.dnt:hover {
    background-color: #6aa4a7;
}


.pn {
    color:#ffffff;
    background-color: #5788BD;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.pn:hover {
    background-color: #68a2df;
}

.fn {
    color:#ffffff;
    background-color: #486129;
    border-top: 0.5px solid rgb(99, 99, 99);
    border-bottom: 0.5px solid rgb(99, 99, 99);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.fn:hover {
    background-color: #688c3b;
}

.sdoh {
    color:#ffffff;
    background-color: #607743;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.sdoh:hover {
    background-color: #8fb264;
}

.pe {
    color:#ffffff;
    background-color: #9C5310;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.pe:hover {
    background-color: #dd7718;
}

.shr {
    color:#ffffff;
    background-color: #4F4F4F;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.shr:hover {
    background-color: #6e6d6d;
}

/* Bottom Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    height: auto;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    height: auto;
    top: 100%; /* How much spacing between box to carrot tip */
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    background-color: rgb(23, 23, 39);;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 3000;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

/* Top Tooltip */
  .tooltiptop {
    position: relative;
    display: inline-block;
    height: auto;
  }
  .tooltiptop .tooltiptoptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  .tooltiptop .tooltiptoptext {
    visibility: hidden;
    width: 120px;
    height: auto;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    background-color: rgb(23, 23, 39);;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    z-index: 3000;
  }
  
  .tooltiptop:hover .tooltiptoptext {
    visibility: visible;
  }

  
  
  .tooltiptop .tooltiptoptext::after {
    content: " ";
    position: absolute;
    top: 100%;  /* At the top of the tooltip */
    left: 50%;
    rotate: 180deg;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

/* Define the styles for the even rows */
.row-even {
    background-color: #f2f2f2;
}

